<div class="downloads">
    <div class="download-item download-item-header">
        <div class="dli--icon"></div>
        <h4 class="dli--file-name">
            <span class="file-name--title">File Name</span>
            <span class="file-name--name"></span>
            <span class="file-name--extra"></span>
        </h4>
        <div class="dli--file-size">File Size</div>
        <div class="dli--modified-date">Last Modified</div>
    </div>
    {% for artifact in artifacts %}
    <div class="download-item">
        <div class="dli--icon">
            {% match artifact.icon_path %}
            {% when Some with (icon_path) %}
            <img src="/static/theme/{{ theme_name }}/icons/{{ icon_path }}" alt="I">
            {% when None %}
            {% endmatch %}
        </div>
        <h4 class="dli--file-name">
                <span class="file-name--title">
                    <a {{ artifact.urls|endpoint_links(auto_endpoint)|escape("none") }}>
                        {{ artifact.display_title() }}
                    </a>
                </span>
            <span class="file-name--name">
                    <a {{ artifact.urls|endpoint_links(auto_endpoint)|escape("none") }}>
                        {{ artifact.display_subtitle() }}
                </a>
                </span>
            <span class="file-name--extra">
                    {% match artifact.extra_info_markdown %}
                    {% when Some with (extra_info_markdown) %}
                        {{ extra_info_markdown|markdown }}
                    {% when None %}
                    {% endmatch %}
                </span>
        </h4>
        <div class="dli--file-size">
            {% match artifact.file_size %}
            {% when Some with (size) %}
            {{ size }}
            {% when None %}
            {% endmatch %}
        </div>
        <div class="dli--modified-date">
            {% match artifact.modified_date %}
            {% when Some with (modified_date) %}
            {{ modified_date }}
            {% when None %}
            {% endmatch %}
        </div>
    </div>
    {% endfor %}
</div>
